<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>

    <title>GitFit Tracker</title>
</head>

<body>
    <header>
        <h1>Welcome to GitFit!</h1>
        <nav>
          {{#if loggedIn}}
          <button id="logout"
          class="btn-no-style">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}
          <li><a href="#Home">Home</a></li>
          <li><a href="#About Us">About</a></li>
          <li><a href="#Workouts">Portfolio</a></li>
          <li><a href="#Contact Us">Contact</a></li>
        </nav>
    </header>
    <main>
    {{{body}}}
    </main>

    </div>
    <div class="Contact" id="Contact Us">
        <h3> Philadelphia Eagles Center</h3>
        <h3> Phone # 215-215-215</h3>
        <h3>philly@eaglescenter.com</h3>

        <box-icon name='dumbbell'></box-icon>
        <box-icon name='cycling'></box-icon>
        <box-icon name='run'></box-icon>
    </div>

    <footer>
        <p>&copy; 2024 Workout App</p>
    </footer>

</body>

</html>
