<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    {{!--
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" /> --}}

    <title>GitFit Tracker</title>
</head>

<body>
    <header class="header" id="header">
        <h1>Welcome to GitFit!</h1>

        <nav class="nav container">
            <a href="#" class="nav__logo">
                {{!-- <img src="" assests/img/logo-nav.png" alt="logo"> GIT FIT Tracker --}}
            </a>

            <div class="" nav__menu" id="nav-menu">
                <ul class="" nav__list">
                    <li class="nav__item">
                        <a href="#Home" class="nav__link">Home</a>
                    <li class="nav__item">
                        <a href="#About Us" class="nav__link">About Us</a>
                    <li class="nav__item">
                        <a href="#Workouts" class="nav__link">Workouts</a>
                    <li class="nav__item">
                        <a href="#Contact Us" class="nav__link">Contact Us</a>
                    </li>

                    {{!-- <div class="nav__link">
                        <a href="#footer" class="button nav__button"></a> --}}
                    </div>

                </ul>
            </div>

        </nav>
    </header>

    </nav>
    </header>
    <main>
        {{{body}}}
    </main>

    </div>
    <div class="Contact" id="Contact Us">
        <h3> Philadelphia Eagles Center</h3>
        <h3> Phone # 215-215-215</h3>
        <h3>philly@eaglescenter.com</h3>

    </div>

    <footer>
        <p>&copy; 2024 Workout App</p>
    </footer>

</body>

</html>
