<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>GitFit Tracker</title>
</head>
<body>
    <header>Welcome to GitFit!</header>
    <nav>
        <ol>
            <li>Calorie Counter</li>
            <li>Log in</li>
            <li></li>
        </ol>
    </nav>
    <main>
        
    </main>
    
</body>
</html>