<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>GitFit Tracker</title>
</head>

<body>
    <header>
        <h1>Welcome to GitFit!</h1>

        <head>
            <ol>
                <li>Calorie Counter</li>
                <li>Log in</li>
                <li></li>
            </ol>
    </header>
    <main>
        {{{<li><a href="#Home">Home</a></li>
        <li><a href="#About Us">About</a></li>
        <li><a href="#Workouts">Portfolio</a></li>
        <li><a href="#Contact Us">Contact</a></li>}}}
    </main>

    </div>
    <div class="Contact" id="Contact Us">
        <h3> Philadelphia Eagles Center</h3>
        <h3> Phone # 215-215-215</h3>
        <h3>philly@eaglescenter.com</h3>
    </div>

    <footer>
        <p>&copy; 2024 Workout App</p>
    </footer>

</body>

</html>
