<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder Page</title>
</head>
<nav>
    
</nav>
<body>
    <h1> Welcome to your fitness journey!</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    <button class="find-a-class"></button>
    <button class="try-at-home"></button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique quidem ullam eaque placeat ipsum reprehenderit suscipit culpa esse possimus dolore quam labore, fuga cum molestias sed voluptas modi velit magnam!</p>
</body>
</html>