<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Routines!</title>
</head>
<body>
    
    <h1>
        Hey {{firstName}}
    </h1>
    <h2>Your options for today!</h2>

    <h3>
        Meditation
    </h3>
        <img src="https://i.pinimg.com/564x/6d/39/10/6d3910c9a34163bfe3824e8f97a0e34c.jpg" alt="meditation" class="meditation">
    {{!-- note,
    the handlebar website says this is a preparation script --}}
    {{!-- Handlebars.registerHelper("link", function(text, url) {
      var url = Handlebars.escapeExpression(url),
          text = Handlebars.escapeExpression(text)
          
     return new Handlebars.SafeString("<a href='" + url + "'>" + text +"</a>");
}); --}}

    <h3>
        Strength Training
    </h3>
    <img src="https://i.pinimg.com/564x/04/0a/0d/040a0de68db8b473e368b870d258e700.jpg" alt="strength" class="strength-train">
        <div class="video-container">
        {{{embeddedStrengthVideoLink}}}
        </div>

    <h3>
        Yoga
    </h3>
<img src="https://i.pinimg.com/564x/33/7b/2d/337b2db9556f5ce4712d086396bea0db.jpg" alt="yoga" class="yoga">
    <div class="yoga-video">
        {{{embeddedYogaVideoLink}}}
    </div>
          

    <h3>
        Cardio
    </h3>
    <img src="https://i.pinimg.com/564x/c1/97/18/c197181949d2d1e6afa00ca4cbff165e.jpg" alt="cardio" class="cardio">
    <div class="cardio-vi">
         {{{embeddedCardioVideoLink}}}
    </div>   

</body>

<script src="./workout.handlebars"></script>

</html>